<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.keywordsFramework">

    <select id="getCountGoods" resultType="Integer">
        SELECT COUNT(*) FROM to8to_flash_goods;
    </select>

    <select id="getModelId" parameterType="String" resultType="Integer">
        select id from to8to_flash_goods where name = #{modelName,jdbcType=VARCHAR}
    </select>

    <delete id="deleteTestModel">
        DELETE FROM to8to_flash_goods WHERE NAME IN
        <foreach collection="array" item="arr" open="(" separator="," close=")">
            #{arr}
        </foreach>
    </delete>

    <delete id="deleteTestMaterial">
        DELETE FROM to8to_material WHERE NAME IN
        <foreach collection="array" item="arr" open="(" separator="," close=")">
            #{arr}
        </foreach>
    </delete>

    <delete id="deleteGoodsData" parameterType="String">
        delete from to8to_flash_goods WHERE createuser = #{username}
    </delete>

    <delete id="deleteMaterialData" parameterType="String">
        delete from to8to_material WHERE createuser = #{username}
    </delete>

    <delete id="deleteFeedbackData" parameterType="int">
        DELETE FROM `to8to_flash_feedback` WHERE uid = #{uid}
    </delete>

    <delete id="deleteBrandsData">
        DELETE FROM to8to_flash_brands WHERE NAME IN
        <foreach collection="array" item="arr" open="(" separator="," close=")">
            #{arr}
        </foreach>
    </delete>
</mapper>